@import '_variables.scss';
@import '_mixins.scss';

html {
  font-size: 1rem;
  font-family: $poppins;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
  padding-top: 6rem;
  position: relative;
}

.form {

  &__header {
    @include setFlex (flex, center, space-between, initial);

    .logo {
      @include setFlex (flex, center, space-between, initial);

      &__circle {
        width: 2.7rem;
        height: 2.7rem;
        display: block;
        background: $blue_bg;
        border-radius: 50%;
      }

      h1 {
        font-size: 1.75rem;
        font-weight: 600;
        margin-left: .5rem;
        color: $text_one;

        .slim__text {
          font-weight: 300;
        }
      }
    }

    .time {
      font-size: 1.3rem;
      font-weight: 500;

      &__box {
        @include setFlex (inline-flex, center, center, initial);
        background: $dark_bg;
        color: #fff;
        width: 1.2em;
        height: 1.7rem;
        border-radius: 5px;
        margin-left: -3px;
      }

      &__column {
        position: relative;
        right: 2px;
      }
    }
  }

  &__container {
    margin-top: 4rem;
    
    form {

      .input__div {
        margin-bottom: 2rem;

        .input__header {
          @include setFlex (flex, center, space-between, initial);
          margin-bottom: 1.7rem;

          .description {

            .title {
              font-size: 1rem;
              font-weight: 700;
              color: $text_one;
              margin-bottom: .3rem;
            }

            .instruction {
              font-size: .8rem;
              font-weight: 500;
              color: $text_two;
            }
          }

          .edit__btn {
            @include setFlex (flex, center, space-between, initial);
            color: $oth_blue;

            svg {
              fill: $oth_blue;
              height: 1rem;
            }

            .btn__title {
              margin-left: .5rem;
              font-weight: 500;
            }
          }
        }

        .card__input {
          margin-top: 1rem;
          position: relative;

          img {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            &.card__icon {
              left: 10px;
              height: 2rem;
            }

            &.verified__icon {
              right: 15px;
              height: 1.5rem;
            }
          }

          input {
            width: 100%;
            font-size: 1rem;
            font-weight: 600;
            padding: 1rem 4rem;
            border: .125rem solid $input-border;
            border-radius: 5px;
            outline: $active-border;

            &:focus {
              background: #edf3ff;
              border: 2px solid $active-border;
            }
          }
        }

        &.cvv {
          @include setFlex (flex, center, space-between, initial);
          flex-wrap: wrap;

          .input__header {
            margin-bottom: 0;
          }

          .card__input__div {
            @include setFlex (flex, center, space-between, initial);
            width: 400px;

            .forward__slash {
              font-size: 1rem;
              font-weight: 800;
              color: $text_one;
              margin: 0 1rem;
            }
          }

          .card__input {
            width: 400px;
            margin-top: 0;

            input {
              text-align: center;
              padding-left: 0;
              padding-right: 0;
              background: none;
              color: $active-border;

              &:focus {
                background: #edf3ff;
                border: 2px solid $active-border;
              }
            }

            input[type="password"] {
              text-align: left;
              padding-left: 1.5rem;
              letter-spacing: .5rem;
            }

            .dots__icon {
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              height: 1.5rem;
              opacity: .35;
              right: 15px;
            }
          }
        }
      }

      .submit__btn {
        width: 100%;
        padding: 1rem 0;
        border-radius: .5rem;
        font-size: 1.2rem;
        font-weight: 500;
        background: $blue_bg;
        color: #fff;

        &:hover {
          background-color: $active-border;
        }
      }
    }
  }
}

.checkout {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 0 4rem;
  margin-top: 8.5rem;
  background: #e9eef1;
  border-radius: 10px;

  .card {
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: -10rem;

    .blue__div {    
      position: relative;
      top: 1.2rem;
      z-index: -999;
      width: 80px;
      height: 30px;
      background: $blue_bg;
      margin: 0 auto;
      border-radius: 7px;
    }

    .virtual__card {
      @include setFlex (flex, stretch, space-between, column);
      background: #f9fafc;
      padding: 3rem 2rem;
      border-radius: 10px;
      box-shadow: #64646f33 0px 7px 29px 0px;
      backdrop-filter: blur(15px);

      .card__chips {
        @include setFlex (flex, center, space-between, initial);

        .chip {
          height: 50px;
        }

        .wifi {
          height: 30px;
        }
      }

      .card__details {
        margin-top: 6rem;

        .card__owner {
          @include setFlex (flex, flex-start, flex-start, column);

          .card__name {
            font-size: 1rem;
            font-weight: 500;
            color: $dark_bg;
            margin-bottom: 5px;
          }

          .pin {
            font-size: 1.3rem;
            font-weight: 800;
            color: $dark_bg;
          }
        }

        .card__cvvlogo {
          @include setFlex (flex, center, space-between, initial);
          margin-top: 2rem;

          .cvv__number {
            font-size: 1rem;
            font-weight: 700;
            color: $dark_bg;
          }

          img {
            width: 50px;
          }
        }
      }
    }

    .checkout__details {
      margin-top: 4rem;

      .checkout__data {
        @include setFlex (flex, center, space-between, initial);
        margin-top: 7px;

        .data__name {
          font-size: 1rem;
          font-weight: 600;
          color: $text_two;
        }

        .data__detail {
          @include setFlex (flex, center, space-between, initial);

          img {
            width: 20px;
            margin-right: 10px;
          }

          .data__value {
            font-size: 1rem;
            font-weight: 700;
            color: $dark_bg;

          }
        }
      }
    }
  }
}


@media(max-width: 730px) {
  .form__container form .input__div.cvv .card__input {
    width: 100%;
    margin-top: 7px;
  }
}

@media(max-width: 700px) {
  .card__input__div {
    width: 100% !important;
    margin-top: 7px;
  }
}